In [20]:
import pandas as pd
import math

# Read the data
df = pd.read_csv('titanic.csv')

# Drop the columns
df.drop(['PassengerId', 'Pclass', 'SibSp', 'Parch', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

df.to_csv('titanic_clean.csv', index=False)

In [21]:
df.head()

   Survived     Sex   Age     Fare
0         0    male  22.0   7.2500
1         1  female  38.0  71.2833
2         1  female  26.0   7.9250
3         1  female  35.0  53.1000
4         0    male  35.0   8.0500

In [22]:
range_size = math.ceil(df["Fare"].max() / 6)

ranges = [0, range_size, range_size*2, range_size*3, range_size*4, range_size*5, range_size*6]

print(ranges)

[0, 86, 172, 258, 344, 430, 516]